@font-face {
	font-family: caps;
	src: url("../assets/fonts/caps.ttf");
}

@font-face {
	font-family: normal;
	src: url("../assets/fonts/normal-bold.ttf");
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: normal;
	/* box-sizing: border-box;*/
}

body{
	max-width: 1366px;
	margin: 0 auto;
	/*box-sizing: content-box;*/
}

header nav ul li a, h1, h2, h3, address{
	font-family: caps;
}

p{
	font-family: normal;
}
/* HEADER   */

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
header nav ul li{
	display: inline;
}

header nav ul li a:nth-child(1){
	color:#181818;
}
header nav ul li a:nth-child(1):hover{
	color: #BADC58;
}
/*header nav ul li a:nth-child(2){
	color:#181818;
}
header nav ul li a:nth-child(2):hover{
	color: #BADC58;
}*/

header nav ul li a{
	font-size: 14px;
	margin: 0 15px;
}

/* MAIN  */
main{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
} 
main::before{
    width: 100%;
    height: calc(100vh - 60px);
    content: '';
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #181818;
    opacity: .6;
    z-index: -1;

}
.div_main_a{
 	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: red;

}

h1{
	margin-bottom: 16px;
	font-size:50px;
}

.p_main{
	margin-bottom: 46px;
	font-size: 14px;
}

.background_img{
	z-index: -2;
	position: absolute;
    width: 100%;
    height: calc (100vh-60px);
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
}

main .main_text a{
    font-family: caps;
    text-align: center;
    display: inline-block;
    padding: 15px 47px;
    background: #BADC58;
    border-radius: 10px;
    color: #181818;
}
/*
.div_main{
	position: absolute;
}

.div_main_a{
	z-index: 1;

}
.main_text{
	z-index: 1;

}
.პროდუქცია{
	position: absolute;
}*/
section{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    max-width: 1084pt;
    align-content: center;

}
section::before{
    content: '';
    background-color: red;
    top: -60px;
    width: 100%;
    height: 60px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    z-index: 2;
}
section::after{
    content: '';
    background-color: yellow;
    bottom: -60px;
    height: 60px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    position: absolute;
    z-index: 2;
